*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

#search-history{
  font-size: .8rem;
  color: rgba(15, 14, 14, 0.769);
  background-color: rgb(182, 234, 253);
}

.history {
    color: rgb(104, 104, 104)
}

#search-input {
    margin-left: 60px;
}

#search-button {
  cursor: pointer;
}
#city-history {
  cursor: pointer;
}

header {
color: white;
text-align: center;
font-family: "Alfa Slab One", serif;
font-size: 1.5rem;
display: flex;
flex-direction: column; 
justify-content: center; 
align-items: center; 
background-color: rgba(31, 36, 88, 0.234);
border: 1px solid rgba(255, 255, 255, 0.394);
border-radius: 1rem; 
text-align: center; 

}

main {
    background-color: rgb(182, 234, 253);
}

.history {
    font-family: "Alfa Slab One", serif;
    
}
/* 
.container{
    padding: 10px 10px;
} */

.row {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: stretch; 
}

.card-column {
  flex: 1 1 250px;
  margin: 10px;
  background: rgba(254, 254, 254, 0.676);
  border-radius: 1rem;
}

.card-block {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.454);
  border-radius: 1rem; 
  text-align: center; 
  min-height: 300px; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.988); 
}

@media screen and (min-width: 768px) {
}

.footer {
  background-color: #eb6912;
  padding: 0px;
  border-radius: 1px;
  flex: 1 1 250px;
  margin: 10px;
  background: rgba(254, 254, 254, 0.676);
  border-radius: .2rem;
  text-align: center;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.454);
  border-radius: 1rem; 
  text-align: center; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.988); 
}